<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mayo.materialdemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recyclerview.ActRecyclerView"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".cardview.ActCardView"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ripple.ActCustomRipple"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ripple.ActRipple"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".sharedtransition.ActCalling"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".sharedtransition.ActCalled"
            android:label="@string/app_name"
            android:theme="@style/SharedTheme" >
        </activity>
        <activity
            android:name=".transition.ActTransition"
            android:label="@string/app_name"
            android:theme="@style/SharedTheme" >
        </activity>
        <activity
            android:name=".flexiblespace.ActFlexibleSpace"
            android:label="@string/app_name"
            android:theme="@style/SharedTheme" >
        </activity>
        <activity
            android:name=".reveal.ActReveal"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".touchfeedback.ActTouch"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
